.container {
  margin: var(--gap-normal) 0rem;
  width: 100%;
  transition: all 1s ease-in;
  max-height: 80vh;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  width: 0px;
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius-large);
}

.cover {
  position: relative;
  color: var(--text-primary);
  margin: var(--gap-normal) 0rem;
}
.cover:hover {
  transform: scale(1.01);
  /* box-shadow: var(--boxshadow-button); */
  border-radius: var(--radius-large);
  transition: all 0.2s ease-in-out;
}
.player {
  position: absolute;
  bottom: 40px;
  left: 40px;
  /* top: 0px; */
}
.type {
  font-family: var(--font-inter);
  font-size: var(--font-small);
}
.title_cover {
  font-family: var(--font-bakone);
  margin: 0.25rem 0rem;
}

.title_mobile {
  display: none;
  font-family: var(--font-bakone);
}
@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
  .title_mobile {
    display: block;
    text-align: center;
  }
}
