.container {
    font-family: var(--font-bakone);
    font-size: var(--font-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub_container {
    display: flex;
    justify-content: space-between;
    width: 320px;
}
.list{
    list-style: none;
    cursor: pointer;
    color: var(--text-primary);
}
.list:hover {
    color: var(--text-secondary);
}