.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  background-color: #222;
  column-gap: 20px;
  color: #fff;
}

.ham {
  display: none;
}
.container h2 {
  font-family: var(--font-bakone);
  text-align: center;
}
.main {
  grid-column: col-start 5 / span 8;
  padding: 40px;
  margin: 20px 20px 20px 0px;
  background-color: white;
  border-radius: 12px;
}
.music {
  grid-column: col-start 1 / span 4;
  background-image: url("../assets/image/break_vid.png");
  margin: 20px 0px 20px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: var(--gap-normal);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--radius-large);
}
.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_track {
  font-family: var(--font-inter);
}
.title_album {
  font-size: var(--font-large);
  font-family: var(--font-bakone);
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(6, [col-start] 1fr);
  }
  .music {
    grid-column: col-start 1 / span 6;
    margin: 0px;
    border-radius: 0px;
    height: 100vh;
  }
  .main {
    display: none;
  }
  .ham {
    display: block;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
