.container {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #fff;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  cursor: pointer;
}
.medsos {
  display: flex;
  height: 20%;
  flex-direction: column;
  justify-content: space-between;
}
