.container {
    margin: var(--gap-normal) 0rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}
.product_card {
    color: var(--text-primary);
    font-family: var(--font-bakone);
    padding: 1.25rem;
    cursor: pointer;
    background-color: var(--color-white);
}
.image{
    object-fit: contain;
    transition: transform 0.2s;
}
.img_box {
    position: relative;
    overflow: clip;
}

.image:hover{
    transform: rotate(-15deg) scale(1.5);
}

.title {
    max-width: 200px;
    margin: 1.25rem 0rem;
}
.price{
    font-family: var(--font-inter);
    font-size: var(--font-small);
}